
.body {
	text-align: center;
	margin:0;
}

.app-header {
	color: #26BE81;
}

.input-questions {
	color: #267B83; 
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	text-align: center;
	width: 80%;
}

.input-box {
	font-size: 2rem;
	height: 100px;
	text-align: center;
	width: 80%; 
}

.green-background {
	background-color: #26BE81;
	color: white;
	margin: 0;
}


.text-note {
	color: grey;
	font-size: 1.25em;
}

.white-text {
	color: white;
}

.go-button {
	height: 80px;
	width: 150px;
	font-size: 3.0rem;
	font-weight: bold;
	text-align: center;
	background-color: #26BE81;
	border: 0px solid #267B83;
	margin: auto;
	vertical-align: middle;
	display: table-cell;
	}

.go-button:hover {
	background-color: #267B83;
}